<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lemon.service.dao.UserMapper">
	
	<resultMap id="userResult" type="com.lemon.common.model.UserDO">
		<result column="user_id" property="userId" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="mobile" property="mobile" />
		<result column="password" property="password" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="status" property="status"/>
	</resultMap>
	
	<insert id="save" parameterType="UserDO">
		
	</insert>
	
</mapper>
